* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.container {
  max-width: 500px;
  margin: 30px auto;
  padding: 30px;
  min-height: 300px;
  border: 1px solid steelblue;
  border-radius: 5px;
}
.header {
  display: felx;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.btn {
  display: inline-block;
  background-color: black;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius:5px;
  cursor:pointer;
  text-decoration: none;
  font-size: 15px;

}
.btn:focus{
  outline:none;
}

.btn:active{
  transform: scale(0.98);
}

.btn-block{
  display: block;
  width: 100%;
}
